.pokemon-item {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

.pokemon-item img {
    max-width: 100px;
    height: auto;
}

